/* You can add global styles to this file, and also import other style files */
body{
    background-color:azure;
}



.displayTable{
    margin-top: 70px;
    margin-left: 100px;
}

.formControl{
    margin-top: 20px;
    padding: 5px;
}

.btn btnPrimary{
    background-color: bisque;
}